.nav{
background-color: aliceblue;
padding: 20px 40px;
bottom: 0;
width: 100%;
box-sizing: border-box;
border-top: 1px solid rgba(121,121,121,0.3);
}

.nav__list{
  display: flex;
  justify-content: space-between;
}
.nav__link{
  position: relative;
  color: rgb(32, 32, 32);
}

.nav__notification{
  background-color: tomato;
  opacity: 0.9;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: absolute;
  top: -10px;
  left: 38px;
}